body{
    background-color:cyan;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;

}
img {
    width:300px;
    border:5px solid black;
    border-radius:10px;
    margin:10px;
}
video {
    width:400px;
    border:5px solid black;
    border-radius:10px;
    margin:10px auto;
}